/* Roboto */
@font-face {
	font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
}
@font-face {
	font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
}

:root {
  --thinLine: .07rem;

  --grey: #4d4d4d; /* dark mode bg color */

  --linkColorLight: #e0e0e0;
  --linkColorDark: #686868;

  --linkColor: var(--linkColorLight);
  --linkActiveColor: #777;

  --ditherGrey: #656565;

  --dither: url('../images/dither1.png');
}
html {
  background: white;
  font-size: 110%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
/*
@media only screen and (min-width: 375px) {
  html {
    font-size: 125%;
  }
}
}*/
@media only screen and (min-width: 900px) {
  html {
    font-size: 100%;
  }
}
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  h1, h2, h3, h4, h5, h6, p {
    padding: 0 2rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Arial Narrow', 'Roboto', sans-serif;*/
}
h1 {
  font-size: 1.88rem;
  font-weight: 900;
}
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 2.1rem;
  }
}
h2 {
  font-weight: 800;
}
p {
  font-size: 1rem;
}
a {
  color: #000;
  text-decoration: none;
  background: var(--linkColor);
}
a:visited {
  color: #000;
}
strong {
  font-weight: 600;
}
.large-p {
  font-size: 1.5rem;
}
.small-p {
  font-size: .8rem;
}
.fine-p {
  font-size: .7rem;
}
.readable-line-height {
  line-height: 1.4;
}
.show-border {
  border: .07rem solid #000 !important;
}
img {
  width: 100%;
  height: auto;
  background: var(--dither);
  transition: opacity 1s;
}
hr {
  height: 0;
  margin-bottom: .07rem;
  background: #000;
  border: .07rem solid #000;
  border-top: 0px solid #fff;
}
hr.thick {
  height: .6rem;
  margin-bottom: .25rem;
}
hr.thicker {
  height: 1.3rem;
  margin-bottom: .25rem;
}
ul {
  list-style: none;
}
ol {
  list-style: initial;
}
button {
  width: 1.88rem;
  height: 1.88rem;
  padding-top: .1rem;
  background: transparent;
  border: none;
}
button img {
  width: 1.77rem;
  height: 1.77rem;
  margin: auto;
}
/*.toggler-inner, .toggler-inner:before, .toggler-inner:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: .07rem;
  width: 1.44rem;
  margin-top: calc(var(--thinLine) * -2);
  margin-left: -.72rem;
  background: black;
}
.toggler-inner:before {
  top: -.5rem;
}
.toggler-inner:after {
  top: .5rem;
}*/

.toggler-inner, .toggler-inner:before, .toggler-inner:after {
  content: "";
  display: block;
  position: relative;
  top: -.25rem;
  height: 1px;
  width: 1.44rem;
  margin: 0;
  background: black;
}
.toggler-inner:before {
  top: -.5rem;
}
.toggler-inner:after {
  top: .5rem;
}

.toggler {
  position: relative;
  height: 2.35rem;
  padding: 0;
  background: var(--linkColor);
}
.toggler:hover {
  cursor: default;
}
iframe {
  display: block;
  margin-left: 1rem;
}
.centered {
  text-align: center;
}
#gl-header {
  max-width: 350px;
  display: inline-block;
}
#gl-header p {
  padding: 0;
}
#gl-header div.flex-row.baseline h1,
#gl-header div.flex-row.baseline h2 {
  padding: 0;
}
#gl-header .flex-row p.small-p.readable-line-height {
  margin-top: .125rem;
}
#gl-header .flex-row p {
  margin-top: 1px;
  margin-bottom: 1px;
}
#gl-footer {
  padding: 3rem 0 1.125rem;
}
#gl-footer p {
  margin: auto;
  font-size: .75rem;
}
#gl-header-container {
  margin: .25rem;
  padding: .45rem;
  background: transparent;
  border: 1px solid transparent;
}
#contracted {
  max-width: 350px;
}
.flex-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-row * {
  display: inline-block;
}
.flex-row.baseline {
  align-items: baseline;
}
.indent {
  width: 1rem;
}
.absolute-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}
.horizontal-scroll > * {
  flex: 0 0 auto;
  max-width: 85vw;
  margin-right: .5rem;
}
.project-page h1, .project-page h2, .project-page h3, .project-page h4, 
.project-page h5, .project-page h6, .project-page p {
  max-width: 600px;
  /*margin: 0 auto;*/
}
.project-page h1 {
  margin: 3.5rem auto 2rem;
  margin: 3.5rem 0 2rem;
  font-size: 1.5rem;
}
.project-page h2 {
  margin: 2.75rem auto 1rem;
  margin: 2.75rem 0 1rem;
  font-size: 1.25rem;
}
.project-page h3 {
  font-size: 1.125rem;
}
.project-page p {
  margin-bottom: 1rem;
  line-height: 2;
}
.project-page nav {
  margin: 1rem;
  max-width: 600px;
}
@media (min-width: 950px) {
  .project-page nav {
    margin: 1rem 2rem;
  }
}
.project-page nav ul li {
  margin-bottom: .75rem;
}
.project-page .horizontal-scroll {
  margin: .25rem auto 3rem;
}
.project-page picture {
  margin: 0 auto;
}
.project-page img {
  display: block;
  /*max-height: 95vh;*/
  max-width: 600px;
  margin: 0;
}
.project-page > picture > img {
  margin: 3rem 1rem;
}
article {
  margin: 0 auto;
}
article header {
  margin: 0 auto 2rem;
  padding: 3rem 0 0;
  background: var(--dither);
}
@media (min-width: 768px) {
  article header {
    padding-top: 8rem;
  }
}
article header h1 {
  font-size: 3.25rem;
}
article header h2 {
  font-size: 1.25rem;
}
article header .tag-list li {
  margin-bottom: 2rem;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
  max-width: 600px;
  margin: 0 auto;
  margin: 0;
}
article h1 {
  margin: 4rem auto 2rem;
  margin: 4rem 0 2rem;
  font-size: 2.5rem;
}
article h2 {
  margin: 2.5rem auto 1rem;
  margin: 2.5rem 0 1rem;
  font-size: 1.9rem;
}
article h3 {
  margin: 1rem auto .5rem;
  margin: 1rem 0 .5rem;
  font-size: 1.5rem;
}
article h4, article h5, article h6 {
  margin: 1rem auto .125rem;
  margin: 1rem 0 .125rem;
}
article p {
  max-width: 600px;
  margin: 0 auto 1rem;
  margin: 0 0 1rem;
}
article .tags a {
  font-size: 1rem;
}
article p, article ul {
  line-height: 1.9;
}
article ul {
  max-width: 600px;
  margin: 0 0 1rem;
}
article ul:not(.tag-list) {
  margin-bottom: 2rem;
  list-style: initial;
}
article ul li {
  list-style-position: inside;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  article ul li {
    padding: 0 2rem;
  }
}
article ol {
  max-width: 600px;
  margin: 0 auto;
  margin: 0;
  list-style-type: decimal;
  list-style-position: inside;
}
article ol li {
  margin-bottom: 1rem;
  padding: 0 1rem;
  line-height: 2;
}
article img {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
article pre {
  max-width: calc(600px - 4rem);
  margin: 1.5rem auto;
  margin: 1.5rem 2rem;
  padding: .55rem 1rem;
  background: var(--dither);
  line-height: 1.3;
  overflow-x: scroll;
}
article pre code, article p code {
  font-size: 1rem;
}
article code {
  padding: 0 1px;
}
article table {
  max-width: calc(600px - 2rem);
  margin: 0 1rem;
  padding: .5rem .75rem .75rem;
  border: 1px solid var(--ditherGrey);
  font-size: .88rem;
  text-align: left;
  line-height: 1.5;
}
@media (min-width: 600px) {
  article table {
    /*margin: 0 auto;*/
  }
}
article table em {
  font-style: normal;
}
.portfolio-section {
  margin: 3rem auto;
}
.portfolio-section header {
  max-width: 300px;
}
.portfolio-section .clamp-height {
  display: block;
  width: auto;
  max-height: 85vh;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-section .portfolio-header {
  margin-bottom: 0;
  font-size: 2rem;
  line-height: .825;
}
/*.portfolio-section .portfolio-header:before {
  content: "";
  position: absolute;
  top: .62rem;
  left: -1rem;
  height: .07rem;
  width: 1rem;
  background: black;
}*/
.portfolio-section header p {
  /*padding-left: 1.75rem;*/
  /*font-size: .875rem;*/
  margin: .5rem auto;
  line-height: 1.4;
}
.portfolio-section p {
  max-width: 450px;
  line-height: 1.9;
}
.portfolio-section .columns {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .portfolio-section .portfolio-header {
    font-size: 2rem;
  }
  .portfolio-section .portfolio-header:before {
    top: 1.05rem;
    left: calc(-.9rem - 125px);
  }
  .portfolio-section .portfolio-header + p {
    margin-bottom: 0;
  }
  .portfolio-section .clamp-height {
    margin-right: 1.5rem;
  }
}
.portfolio-section.flush-top {
  margin-top: 0;
}
.portfolio-section .gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-section .gallery li {
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.portfolio-section .gallery li picture img {
  width: auto;
  max-width: calc(100vw - 3rem);
  max-height: 85vh;
}
.portfolio-section .gallery li p {
  background: var(--dither);

}
@media (min-width: 768px) {
  .portfolio-section .gallery {
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    align-items: flex-start;
  }
  .portfolio-section .gallery li {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .portfolio-section .gallery li picture img {
    max-width: calc(768px - 2rem);
  }
}
*:not(pre) > code {
  background: var(--dither);
}
#all-tags {
  margin-top: .5rem;
}
#current-tag {
  position: relative;
  display: inline-block;
  /*height: 1.6rem;*/
  margin-top: .5rem;
  margin-bottom: .25rem;
  margin-left: .75rem;
  padding: .2rem .85rem;
  background: var(--linkColor);
  border: 1px var(--linkColor) solid;
  border-color: var(--linkColor);
  border-radius: .2rem;
}
@media (min-width: 950px) {
  #current-tag {
    margin-left: 1.75rem;
  }
}
/*
#current-tag:after {
  content: "x";
  position: absolute;
  top: .385rem;
  left: 105%;
  font-size: .7rem;
  text-transform: uppercase;
}*/
#current-tag:before {
  content: "";
  position: absolute;
  top: .65rem;
  left: .2rem;
  height: .32rem;
  width: .32rem;
  background: white;
  border-radius: .2rem;
}
/*
.info-section {
  position: relative;
  margin: 3rem auto;
}*/
/*
.info-section h1, .info-section h2, .info-section h3, .info-section h4, .info-section h5, 
.info-section h6, .info-section p, .info-section ul {
  padding: 0 .75rem;
  /*line-height: 1.5;
}*/
/*
.info-section h1 {
  line-height: 1.25;
}
.info-section h2 {
  font-size: 1.3rem;
}
.info-section h4, .info-section h5, .info-section h6 {
  font-size: .95rem;
}
.info-section p {
  font-size: .95rem;
}
.info-section p.large-p {
  font-size: 1.25rem;
}
*/
@media (min-width: 1000px) {
  article p.large-p {
    font-size: 1.4rem;
    max-width: 700px;
  }
}
/*
.info-section p:not(:last-child) {
  margin-bottom: 2rem;
}
.info-section .col {
  width: 87vw;
}
.info-section .clamp-height {
  display: block;
  width: auto;
  max-height: 85vh;
  margin-left: auto;
  margin-right: auto;
}
.info-section h3.portfolio-header {
  margin-bottom: .9rem;
  font-size: 2.25rem;
  line-height: .825;
}
.info-section h3.portfolio-header:before {
  content: "";
  position: absolute;
  top: .62rem;
  left: calc(-125px);
  height: .07rem;
  width: 125px;
  background: black;
}
.info-section h3.portfolio-header + p {
  padding-left: 1.75rem;
  font-size: .875rem;
  line-height: 1.35;
}
@media only screen and (min-width: 768px) {
  .info-section h3.portfolio-header {
    font-size: 2.75rem;
  }
  .info-section h3.portfolio-header:before {
    top: 1.05rem;
    left: calc(-.9rem - 125px);
  }
  .info-section h3.portfolio-header + p {
    margin-bottom: 0;
  }
  .info-section .clamp-height {
    margin-right: 1.5rem;
  }
}
.info-section.flush-top {
  margin-top: 0;
}*/
.tag-list {
  max-width: 600px;
  margin: 0 auto 2rem;
  margin: 0 1rem 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 950px) {
  .tag-list {
    padding: 0 1rem;
  }
}
.tag-list li {
  margin-right: .75rem;
  padding: 0;
  line-height: 1.6;
}
.post-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.post-item h2 {
  line-height: 1.25;
}
/*
.post-item h2::before {
  content: '';
  display: block;
  position: absolute;
  top: .6rem;
  left: -.3rem;
  height: .6rem;
  width: .6rem;
  background: black;
  border-radius: .3rem;
} */
#toTop {
  position: fixed;
  right: .4rem;
  bottom: 2.5rem;
  display: none;
  padding: .2rem .4rem;
  background: white;
  font-size: .9rem;
}
#toTop * {
  pointer-events: none;
}
@media only screen and (prefers-color-scheme: dark) {
  #toTop {
    background: var(--grey);
  }
}
.columns {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.columns .col {
  flex-grow: 1;
  position: relative;
  margin-bottom: 2rem;
}
.columns .col.single {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .columns:not(.container) {
    flex-direction: row;
  }
  .columns:not(.container) .col {
    margin-bottom: initial;
  }
}
.columns.container {
  justify-content: start;
  align-items: flex-start;
  min-height: 90vh;
}
.columns.container .col {
  flex-grow: 0;
}
.columns.container > .col:nth-child(2) {
  width: 100%;
}
@media (min-width: 950px) {
  .columns.container {
    flex-direction: row;
  }
  .columns.container > .col {
    min-width: 350px;
    margin-bottom: initial;
  }
}
.shadow {
  box-shadow: 0rem .25rem 1rem 0rem rgba(0, 0, 0, .35);
}
.lazy {
  opacity: 0;
}
.browser {
  position: relative;
  border: .115rem solid #eee;
  border-top: 2rem solid #eee;
  border-bottom: .3rem solid #eee;
  border-radius: .5rem .5rem .3rem .3rem;
}
.bezel {
  border: .4rem solid #111;
  border-top: 1.5rem solid #111;
  border-bottom: 2.75rem solid #111;
  border-radius: .85rem;
}
.bezel.cutoff {
  max-width: 80vw;
  border: .9rem solid black;
  border-top: 2.75rem solid black;
  border-bottom: 0 solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media only screen and (min-width: 768px) {
  .bezel.cutoff {
    max-width: 650px;
  }
}
/*.info-section a {
  background: var(--linkColor);
}*/
/* Link & Button colors for Hover/Active */

@media (hover: hover) {
  .toggler, a, #toTop {
    background: unset;
  }
  .toggler:hover, a:hover, #toTop:hover {
    background: var(--linkColor);
  }
  #current-tag {
    background: white;
  }
  #current-tag::before {
    background: var(--linkColor);
  }
  #current-tag:hover {
    background: var(--linkColor);
    text-decoration: line-through;
  }
  #current-tag:hover::before {
    background: white;
  }
  article a, .project-page p a {
    text-decoration: underline;
    text-decoration-thickness: .125rem;
    text-decoration-skip-ink: none;
    text-decoration-color: var(--linkColor);
    transition: all .2s;
  }
}
button:active, a:active, .toggler:active {
  background: var(--linkActiveColor);
}
.toggle-content {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out;
}
.toggle-content.active {
  display: block;
  height: auto;
}
#expanded {
  width: 100%;
}
#blog-index, #blog-tag-page {
  //padding-top: 2rem;
}
#blog-index h1, #blog-tag-page h1 {
  margin: 3.5rem 0 .5rem;
  font-size: 1.5rem;
}
#blog-list {
  margin-top: 2rem;
  margin-left: 1rem;
  border-left: 1px solid black;
}
@media (min-width: 950px) {
  #blog-list {
    margin-left: 2rem;
  }
}
#blog-list > li {
  padding-top: .25rem;
}
#blog-list > li:nth-child(even) {
  background: var(--dither);
}
#blog-list .tag-list {
  margin-bottom: 0;
}
#to-top {
  position: fixed;
  bottom: -4rem;
  left: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background: white;
  border-radius: 22px;
  z-index: 50;
  pointer-events: none;
  transition: bottom .2s;
}
#to-top.active {
  bottom: .5rem;
  pointer-events: all;
}
#to-top > * {
  pointer-events: none;
}

/* Link & Button colors for Hover/Active */

@media (hover: hover) {
  .toggler, a, #toTop {
    background: unset;
  }
  .toggler:hover, a:hover, #toTop:hover {
    background: var(--linkColor);
  }
  #current-tag {
    background: white;
  }
  #current-tag::before {
    background: var(--linkColor);
  }
  #current-tag:hover {
    background: var(--linkColor);
    text-decoration: line-through;
  }
  #current-tag:hover::before {
    background: white;
  }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --linkColor: var(--linkColorDark);
  }
  html {
    background: var(--grey);
  }
  /** {
    font-weight: 500;
  }
  h1 {
    font-weight: 900;
  }
  h2, h3, h4, h5, h6, strong {
    font-weight: 700;
  }
  .info-section p {
    letter-spacing: -.013rem;
  }*/
  img {
    opacity: .9;
  }
  #to-top {
    background: var(--linkColorLight);
  }
}